<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bsfit.frms.policy.mapper.rams.ChecklistMapper" >
  <resultMap id="BaseResultMap" type="cn.com.bsfit.frms.policy.pojo.rams.Checklist" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="TRANS_VOL" property="transVol" jdbcType="DECIMAL" />
    <result column="RISK_LEVEL" property="riskLevel" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="OPER_USER_ID" property="operUserId" jdbcType="DECIMAL" />
    <result column="VERIFI_STRATEGY" property="verifiStrategy" jdbcType="VARCHAR" />
    <result column="NOTIFY_STRATEGY" property="notifyStrategy" jdbcType="VARCHAR" />
    <result column="SCORE" property="score" jdbcType="DECIMAL" />
    <result column="PAY_USER_ID" property="payUserId" jdbcType="VARCHAR" />
    <result column="REC_USER_ID" property="recUserId" jdbcType="VARCHAR" />
    <result column="PAY_BANK_CARD_NO" property="payBankCardNo" jdbcType="VARCHAR" />
    <result column="REC_TERMINAL_ID" property="recTerminalId" jdbcType="VARCHAR" />
    <result column="REDUNDANT_FIELDS_1" property="redundantFields1" jdbcType="VARCHAR" />
    <result column="REDUNDANT_FIELDS_2" property="redundantFields2" jdbcType="VARCHAR" />
    <result column="REDUNDANT_FIELDS_3" property="redundantFields3" jdbcType="VARCHAR" />
    <result column="CONTROL" property="control" jdbcType="VARCHAR" />
    <result column="BIZ_CODE" property="bizCode" jdbcType="VARCHAR" />
   	<result column="RULES_CODE" property="rulesCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, CREATE_TIME, UPDATE_TIME, TRANS_VOL, RISK_LEVEL, STATUS, OPER_USER_ID, 
    VERIFI_STRATEGY, NOTIFY_STRATEGY, SCORE, PAY_USER_ID, REC_USER_ID, PAY_BANK_CARD_NO, 
    REC_TERMINAL_ID, REDUNDANT_FIELDS_1, REDUNDANT_FIELDS_2, REDUNDANT_FIELDS_3, CONTROL, 
    BIZ_CODE, RULES_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CHECKLIST
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <insert id="insert" parameterType="cn.com.bsfit.frms.policy.pojo.rams.Checklist" useGeneratedKeys="true" statementType="PREPARED">
      <selectKey resultType="long" keyProperty="id" order="AFTER">
          SELECT LAST_INSERT_ID()
      </selectKey>
      insert into CHECKLIST (ORDER_ID, CREATE_TIME,
      UPDATE_TIME, TRANS_VOL, RISK_LEVEL, 
      STATUS, OPER_USER_ID, VERIFI_STRATEGY, 
      NOTIFY_STRATEGY, SCORE, PAY_USER_ID, 
      REC_USER_ID, PAY_BANK_CARD_NO, REC_TERMINAL_ID, 
      REDUNDANT_FIELDS_1, REDUNDANT_FIELDS_2, REDUNDANT_FIELDS_3, 
      CONTROL, BIZ_CODE, RULES_CODE)
    values (#{orderId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{transVol,jdbcType=DECIMAL}, #{riskLevel,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{operUserId,jdbcType=DECIMAL}, #{verifiStrategy,jdbcType=VARCHAR}, 
      #{notifyStrategy,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, #{payUserId,jdbcType=VARCHAR}, 
      #{recUserId,jdbcType=VARCHAR}, #{payBankCardNo,jdbcType=VARCHAR}, #{recTerminalId,jdbcType=VARCHAR}, 
      #{redundantFields1,jdbcType=VARCHAR}, #{redundantFields2,jdbcType=VARCHAR}, #{redundantFields3,jdbcType=VARCHAR}, 
      #{control,jdbcType=VARCHAR}, #{bizCode,jdbcType=VARCHAR}, #{rulesCode,jdbcType=VARCHAR})
  </insert>

  <insert id="insertChecklistRiskType" parameterType="cn.com.bsfit.frms.policy.pojo.rams.Checklist" >
    insert into CHECKLIST_RISKTYPE (CHECKLIST_ID, RISK_TYPE_VALUE)
    values (#{checklistId,jdbcType=DECIMAL}, #{riskTypeValue,jdbcType=VARCHAR})
  </insert>
</mapper>