<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bsfit.frms.policy.mapper.rams.ChecklistHisMapper" >
  <insert id="insert" parameterType="cn.com.bsfit.frms.policy.pojo.rams.ChecklistHis" >
    insert into CHECKLIST_HIS (ID, CHECKLIST_ID, PRIMARY_ID, 
      CREATE_TIME, OPER_USER_ID, CONTROL, 
      DEAL_CONTENT, REMARK)
    values (CHECKLIST_HIS_SEQ.nextval, #{checklistId,jdbcType=DECIMAL}, #{primaryId,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{operUserId,jdbcType=DECIMAL}, #{control,jdbcType=VARCHAR}, 
      #{dealContent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
</mapper>